!!!
%html
  %head
    %title Skara Dashboard
    = stylesheet_link_tag "backend"
    = javascript_include_tag "backend"
    = csrf_meta_tag
  %body
    .topbar
      .fill
        .container
          = link_to "Skara Dashboard", backend_root_path, :class => "brand"
          %ul.nav
            %li.active= link_to "Home", root_path
            %li= link_to "Products", backend_products_path
            %li= link_to "Widgets", backend_widgets_path
            %li= link_to "Pages", backend_static_pages_path
            %li= link_to "Blog Posts", "#"
            %li= link_to "Images", "#"

    .container
      .content
        .page-header
          = yield :header
        .row
          - if flash[:alert]
            .alert-message.error
              %p= flash[:alert]
          - if flash[:notice]
            .alert-message.info
              %p= flash[:notice]
          .span10
            = yield
          .span4
            = yield :sidebar
