= simple_form_for [ :backend, resource ] do |form|
  %fieldset
    %legend Please your page title and content inluding images.
    = form.input :title
    
    = form.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:language => 'en'} }
    
    = form.input :order,  :class => "input-mini"
    
    = form.input :nav, :class => "input-mini"
  .actions
    = form.submit :class => "btn primary"
    %button.btn{:type => "reset"} Cancel
