!!!
%html
  %head
    %title #{full_title(yield(:title))}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_tag :ckeditor
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css')
  %body
    .top
      = render_cell(:nav, :justifiedList)
    = yield
    .bottom
      .lnc
        .logonav
          .hltitle
          - if current_page?(root_url || title_url("about"))
            = render_cell(:nav, :imageNav)
            = link_to full_title(yield(:title)), root_path
            = title_url("about")
          - else
            = link_to full_title(yield(:title)), root_path, {:class => 'pass'}
